@import "reset";

.l-wrap {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.three-col-grid {
    @include clearfix;

    .grid-item {
        float:left;
        // width: 380px;
        // width: 33.3%;
        background: rgb(97, 127, 247);
        color: #fff;
        margin-top: 20px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 20px * 3) / 3);

        @media screen and (max-width: 768px) {
            width: calc(100% - 20px);
        }
    }
}

.column {
    width: calc((100% - 20px * 12) / 12);
    height: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #1a64aa;
    float: left;

    @media screen and (max-width: 768px) {
       width: calc((100% - 20px * 4) / 4);
    }
}

.fixed-gutter-grid {
    @include clearfix;
}

.l-guest-article {
    @include clearfix;
}

.l-guest {
    width: calc((100% - 20px * 3) / 12 * 2);
    @media screen and (max-width: 768px) {
        width: calc(100% - 20px);
    }
}

.l-main {
    width: calc((100% - 20px * 3) / 12 * 7);
    @media screen and (max-width: 768px) {
        width: calc(100% - 20px);
    }
}

.l-sidebar {
    width: calc((100% - 20px * 3) / 12 * 3);
    @media screen and (max-width: 768px) {
        width: calc(100% - 20px);
    }
}